<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{{person.name}}'s Detail</title>
  
</head>
<body>
      <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-red w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        {% if user.is_authenticated %}
        <a href="/college_predictor/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="/admin/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Admin</a>
        <a href="/college_predictor/logout/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white glyphicon glyphicon-off"> Logout</a>
        <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Main Page</a>
        {% else %}
        <a href="/college_predictor/login/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
        <a href="/college_predictor/register/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Register</a>
        <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Main Page</a>
        {% endif %}
    
      </div>
      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Start Predicting</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Admin</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large"></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
      </div>
    </div>
    <br>
    <br>
   <br>
   <div class="d-flex justify-content-center">
   <h1><span class="badge badge-primary mx-auto">{{person.name}}'s Details</span></h1>
  </div>
   <div class="col-lg-10 border border-success rounded p-4 m-4 mx-auto mb-2 mt-3">  
   <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" onclick="showAllPrescription()">Prescription</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Add Prescription</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Live Analysis</a>
    </li>
  </ul>
  
  <div class="tab-content" id="myTabContent">
    
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <!--form start-->
      <div class="col-lg-8 mx-auto">
      <div class="form-group">
        <BR></BR>
        <label for="prescription"><h1><span class="badge badge-primary">ADD PRESCRIPTION</span></h1></label>
        <input type="email" class="form-control" id="prescription" aria-describedby="emailHelp" placeholder="Enter Prescription">
      </div>
      <div class="row">
        <div class="form-group col-md-3 p-2">
          <input type="text" class="form-control" id="year" placeholder="Year">
        </div> 
        <div class="form-group col-md-2 p-2">
          <input type="text" class="form-control" id="month" placeholder="Month">
        </div> 
        <div class="form-group col-md-2 p-2">
          <input type="text" class="form-control" id="day" placeholder="Day">
        </div> 
        <div class="form-group col-md-2 p-2">
          <input type="text" class="form-control" id="hour" placeholder="Hour">
        </div> 
        <div class="form-group col-md-2 p-2">
          <input type="text" class="form-control" id="minute" placeholder="Minutes">
        </div> 
        <button class="btn btn-success col-md-5 mx-auto" onclick="addTask()">ADD</button>
      </div>
      </div>
    </div>
    <!--new div. Be careful with div. Screwed it once already-->
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus corrupti sunt dicta, minima quo. Officiis facere eos vitae nisi eius, hic at nemo cum quo dignissimos consequuntur, cupiditate dolorum.
    </div>
  </div>
</div>
<footer id="footer">
      <p>Copyright Team Learning.Dev &copy; 2020</p>
    </footer>
 
</body>
<script>
 function addTask()
  {
    prescription = document.getElementById("prescription").value;
    year = parseInt(document.getElementById("year").value);
    month = parseInt(document.getElementById("month").value);
    day = parseInt(document.getElementById("day").value);
    hour = parseInt(document.getElementById("hour").value);
    minute = parseInt(document.getElementById("minute").value);
    if (month > 12 || month < 1)
    {
      alert("Wrong month input");
      return false;
    }
    else if ((month == 1 || month == 3 || month == 5 || month == 7 || month == 8 || month == 10 || month == 12 ) && day > 31 )
    {
      alert("wrong day input");
      return false;
    }
    else if(month ==2 && day > 29)
    {
      alert("wrong day input");
      return false;
    }
    else if((month == 4 || month == 6 || month == 9 ||month == 11) && day > 30)
    {
      alert("wrong day input");
      return false;
    }
    else if(day < 1)
    {
      alert("wrong day input");
      return false;
    }
    else if(hour > 24 || hour < 0)
    {
      alert("wrong hour input");
      return false;
    }
    else if (minute > 60 || minute < 0)
    {
      alert("wrong minutes input");
      return false;
    }
    //alert(parseInt(year))
    url = "/iot/person/task/add/{{person.id}}?year=" + year + "&month=" + month + "&day=" + day + "&hour="+ hour +"&minute="+ minute + "&prescription="+ prescription;
    var req = new XMLHttpRequest();
  req.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      alert("Added")
    }
 
  };
  req.open("GET", url, true);
  req.send();
  }
  function showAllPrescription()
     {
       person_id = document.getElementById("person_id")
       var url ="/iot/person/task/{{person.id}}/"
       var req = new XMLHttpRequest();
    req.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     var data = eval(req.responseText);
     a = document.getElementById("home")
     html = '<br><table class =" table text-centre table-striped "> '
      html += "<tr> <th> Medicine</th> <th> Created </th> <th> End Time </th></tr>";
     for(var i =0; i < data.length; i++)
     {
        html += "<tr> <td>" + data[i].prescription + "</td> <td>"+ data[i].created + "</td> <td>"  + data[i].end + "</td></tr>"
     }
      a.innerHTML = html
    }
  };
  req.open("GET", url, true);
  req.send();
     }
  window.onload = initAll;
 function initAll()
 {
   showAllPrescription();
   //a = document.getElementById("test");
   //a.onclick = showAllPrescription();
 
    
 }
 </script>
</html>